.main-content p{
  color: aliceblue;
  font-size: 2em;
  margin-top: 2rem;
}
/* .prediction{
  color: white;
} */
.prediction p{
  color: white;
  font-size: 1.8em;
  margin-top: 1.8rem;
  margin-left: 2rem;
}
.video-Detection {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  margin-left: 250px; /* Adjust based on the width of your sidebar */
  width: calc(100% - 250px); /* Ensure it takes up the remaining space after sidebar */
}
.video-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: top;
  }
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    padding: 20px; /* Add padding if needed */
  }
  
  .video-container video {
    display: block;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 400px;
    /* height: 300px; */
  }
  
  .video-container button {
    display: block;
    margin: 10px auto 0 auto;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .video-container button:hover {
    background-color: #0056b3;
  }
  
  .video-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: #007BFF; */
    border: 2px solid white;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
  }
  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 40px;
  }
  
  .progress-bar-fill {
    height: 20px;
    background-color: #1c3ad4;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
  } 
  
  
  
  
  
  
  
  