.comp-watching {
  flex: 1; /* Allow it to grow within its flex container but not exceed available space */
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Ensure content flows vertically */
  margin-left: 250px; /* Adjust based on sidebar width */
  /* Optional: Add a max-width to ensure it doesn't exceed a certain size */
  max-width: calc(100% - 250px); /* Adjust based on sidebar width */
}

h1 {
  padding-left: 0; /* Remove left padding */
  font-family: 'Merriweather', serif; /* Classy serif font */
  font-weight: 700; /* Bold font weight */
  font-size: 2.5rem; /* Adjust size as needed */
  color: #ffffff; /* White color for the text */
  line-height: 1.2; /* Line height for better readability */
  text-align: left; /* Align text to the left */
  margin-left: 0; /* Ensure no left margin */
}


.header {
  height: 10vh;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: #1051a551 !important; /* Bright orange-red color */
  color: #ffffff; /* Keep text color white for contrast */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 8px; /* Optional: Add rounded corners */
}


.icons {
  display: flex;
  gap: 20px; /* Space between icons */
}

.icon-container {
  position: relative; /* To position the tooltip */
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon:hover {
  color: #007bff; /* Change to your preferred hover color */
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

/* Tooltip styling */
.tooltip {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  white-space: nowrap;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* Show tooltip on hover */
.icon-container:hover .tooltip {
  display: block;
}


.content-wrapper {
  display: grid;
  gap: 30px;
  align-items: center;
  margin: 0;
}

@media (max-width: 1024px) {
  .content-wrapper {
    flex-direction: column;
  }
}

.search-bar {
  display: grid;
  width: 330px;
  height: 30px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2px;
  align-items: center;
}

input {
  flex: 1;
  height: 25px;
  border: none;
  outline: none;
  padding-left: 25px;
  border-radius: 15px;
}

select {
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #ccc;
}
