/* .video_prediction h2, h3, button{
  color: white;
} */
*{
  color: white;
}
.video-player {
  background-color: #1a1a2e;
  color: white;
  padding: 20px;
}

.video-container {
    margin-bottom: 20px;
    justify-content: center;
  }

.video-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.video-controls button {
  background-color: #3a3a4e;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


.stats {
    display: flex;
    gap: 20px;

  }
  
  .stats div {
    background-color: #3a3a4e;
    padding: 5px 10px;
  }